In [1]:
import pandas as pd
df = pd.read_csv("nyc_weather.csv", parse_dates=['EST'])
df.set_index('EST', inplace=True)
df.head()

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.0,0,5,NaN,281
2016-01-02,36,18,46,30.02,10,7.0,0,3,NaN,275
2016-01-03,40,21,47,29.86,10,8.0,0,1,NaN,277
2016-01-04,25,9,44,30.05,10,9.0,0,3,NaN,345
2016-01-05,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [2]:
#Filling missing values with Zeroes
new_df = df.fillna(0)

In [3]:
new_df.head()

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.0,0,5,0,281
2016-01-02,36,18,46,30.02,10,7.0,0,3,0,275
2016-01-03,40,21,47,29.86,10,8.0,0,1,0,277
2016-01-04,25,9,44,30.05,10,9.0,0,3,0,345
2016-01-05,20,-3,41,30.57,10,5.0,0,0,0,333

In [4]:
#Filling missing values with dictionary
new_df = df.fillna({
    'Temperature': 0,
    'WindSpeedMPH' : 0,
    'Events': 'No Event'
})
new_df.head()

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.0,0,5,No Event,281
2016-01-02,36,18,46,30.02,10,7.0,0,3,No Event,275
2016-01-03,40,21,47,29.86,10,8.0,0,1,No Event,277
2016-01-04,25,9,44,30.05,10,9.0,0,3,No Event,345
2016-01-05,20,-3,41,30.57,10,5.0,0,0,No Event,333

In [5]:
#Filling missing values with 'Forward Fill'
new_df = df.fillna(method='bfill')
new_df

/tmp/ipykernel_335084/1351639814.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  new_df = df.fillna(method='bfill')

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
EST,,,,,,,,,,
2016-01-01,38,23,52,30.03,10,8.0,0,5,Rain,281
2016-01-02,36,18,46,30.02,10,7.0,0,3,Rain,275
2016-01-03,40,21,47,29.86,10,8.0,0,1,Rain,277
2016-01-04,25,9,44,30.05,10,9.0,0,3,Rain,345
2016-01-05,20,-3,41,30.57,10,5.0,0,0,Rain,333
2016-01-06,33,4,35,30.50,10,4.0,0,0,Rain,259
2016-01-07,39,11,33,30.28,10,2.0,0,3,Rain,293
2016-01-08,39,29,64,30.20,10,4.0,0,8,Rain,79
2016-01-09,44,38,77,30.16,9,8.0,T,8,Rain,76
2016-01-10,50,46,71,29.59,4,6.0,1.8,7,Rain,109
2016-01-11,33,8,37,29.92,10,6.0,0,1,Rain,289
2016-01-12,35,15,53,29.85,10,6.0,T,4,Rain,235
2016-01-13,26,4,42,29.94,10,10.0,0,0,Rain,284
2016-01-14,30,12,47,29.95,10,5.0,T,7,Rain,266
2016-01-15,43,31,62,29.82,9,5.0,T,2,Rain,101
2016-01-16,47,37,70,29.52,8,7.0,0.24,7,Rain,340
2016-01-17,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
2016-01-18,25,6,53,29.83,9,12.0,T,2,Snow,293
2016-01-19,22,3,42,30.03,10,11.0,0,1,Snow,293
2016-01-20,32,15,49,30.13,10,6.0,0,2,Snow,302
2016-01-21,31,11,45,30.15,10,6.0,0,1,Snow,312
2016-01-22,26,6,41,30.21,9,16.0,0.01,3,Snow,34
2016-01-23,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
2016-01-24,28,11,53,29.92,8,6.0,T,3,Snow,327
2016-01-25,34,18,54,30.25,10,3.0,0,2,Rain,286
2016-01-26,43,29,56,30.03,10,7.0,0,2,Rain,244
2016-01-27,41,22,45,30.03,10,7.0,T,3,Rain,311
2016-01-28,37,20,51,29.90,10,5.0,0,1,NaN,234
2016-01-29,36,21,50,29.58,10,8.0,0,4,NaN,298
2016-01-30,34,16,46,30.01,10,7.0,0,0,NaN,257
2016-01-31,46,28,52,29.90,10,5.0,0,0,NaN,241